button{
  background-color: #171717;
  font-size: 24px;
  height: 72px;
  width: 72px;
  border-radius: 50%;
  border: 1px solid #171717;
  margin: 5px;
}

button:hover {
  background-color: #252525;
}

button:active {
  background-color: #121711;
}

.number {
  color: #FFF;
}

.clean {
  color: #f06d68;
}

.func {
  color: #78d53e;
}

.equalsBtn{
  background-color: #2b840c;
}
