.container {
  width: 360px;
  min-width: 320px;
  max-width: 414px;
  height: 720px;
  min-height: 680px;
  max-height: 768px;
  border: 1px solid red;
  margin: 0;
}

.container-buttons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
